<!DOCTYPE html>
<html>

<head>
    <% include ../partials/headers %>
    <title>Inicio de sesión</title>
    <link rel="stylesheet" type="text/css" href="css/register.css">
</head>

<body>
        <% include ../partials/menu %>
        <br><br><br><br>
        <div class="register-box">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6">

        </div>
        <h3>Registro</h3>
        <br>
        <h4><br>Completa el formulario correctamente</h4>
        <!--<div class="col-md-6">-->
        <form id="register" class="row">
            <div class="col-md-8">
                <div class="form-group">
                        <label for="text">Nombre</label><br>
                        <input type="text" class="form-control borde" id="nombre" name="nombre" placeholder="Ingresa tu nombre" maxlenght="100" required>
                    </div>
                    <div class="form-group">
                        <label for="text">Apellido Paterno</label><br>
                        <input type="text" class="form-control borde" id="apellido1" name="apellido1" placeholder="Ingresa tu apellido" max="50" required>
                    </div>
                    <div class="form-group">
                        <label for="text">Apellido Materno</label><br>
                        <input type="text" class="form control borde" id="Apellido2" name="apellido2" placeholder="Ingresa tu apellido" max="50" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefono</label><br>
                        <input type="phone" class="form-control borde" id="telefono" name="telefono" placeholder="Ingresa  tu telefono" maxlength="15" required>
                    </div>
                    <div class="form-group">
                        <label for="number">Edad</label><br>
                        <input type="number" class="form-control borde" id="edad" name="edad" placeholder="Ingresa tu edad" maxlength="15" required>
                    </div>
                    <p>Selecciona tu genero:</p>
                    <div class="form-group">
                        <label for="radio">Masculino</label>
                        <input type="radio" class="form-control" id="masculino" name="masculino" required>
                    </div>
                    <div class="form-group">
                        <label for="radio">Femenino</label>
                        <input type="radio" class="form-control" id="femenino" name="femenino" required>
                    </div>
                    <div class="form-group">
                        <label for="radio">Otro</label>
                        <input type="radio" class="form-control" id="otro" name="otro" required>
                    </div><br>
                    <!--<div clas="col -md-6"></div>-->
                    <div class="form-group">
                        <label for="email">Correo Electronico</label><br>
                        <input type="email" class="form-control borde" id="email" name="email" placeholder="Ingresa tu correo electronico" maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <label for="textarea">Escribe una breve descripción de ti</label><br>
                        <textarea class="form-control" name="descripcion" id="descripcion" cols="30" rows="10" maxlength="300"></textarea>
                    </div>
                    <p> Categorias </p>
                    <div class="form-check">
                        <label class="form-check-label" for="checkbox">Ingeniero</label>
                        <input type="checkbox" class="form-check-input" id="ingeniero" name="ingeniero" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="checkbox">Abogado</label>
                        <input type="checkbox" class="form-check-input" id="abogado" name="abogado" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="checkbox">Electricista</label>
                        <input type="checkbox" class="form-check-input" id="electricista" name="electricista" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="checkbox">Medico</label>
                        <input type="checkbox" class="form-check-input" id="medico" name="medico" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="checkbox">Arquitecto</label>
                        <input type="checkbox" class="form-check-input" id="arquitecto" name="arquitecto" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="checkbox">Cocinero</label>
                        <input type="checkbox" class="form-check-input" id="periodista" name="periodista" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="checkbox">Obrería</label>
                        <input type="checkbox" class="form-check-input" id="investigador" name="investigador" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="checkbox">Tecnología</label>
                        <input type="checkbox" class="form-check-input" id="veterinario" name="veterinario" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="checkbox">Construcción</label>
                        <input type="checkbox" class="form-check-input" id="dentista" name="dentista" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="checkbox">Diseño</label>
                        <input type="checkbox" class="form-check-input" id="musico" name="musico" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="checkbox">Arte</label>
                        <input type="checkbox" class="form-check-input" id="actor" name="actor" required>
                    </div>
                    <div class="form-group">
                        <br><label for=""> Sube una imagen de perfil</label><br>
                        <input type="file" id="imagen" name="imagen">
                    </div>
                    <div class="form-group">
                        <label for="button"></label><br>
                        <input type="submit" value="Enviar" id="button" name="button" class="btn btn-primary btn-block">
                    </div>
            </div><!-- Termina el lado izquierdo-->
            <div class="col-md-4">
                <img src="img/work.jpg" alt="Worker" width="400px">
            </div>
        </form>
    </div>

</body>

</html>