<footer class="footer">
    <div class="col-lg-12 row">
        <div class="col-md-4">
            hola
        </div>
        <div class="col-md-4">
mundo
        </div>
        <div class="col-md-4">
xd
        </div>
    </div>
</footer>