<header class="menu">
    <img class="logo" src="img/Tetlay.png">
    <h5 class="title">Servi</h5>
    <nav>
        <ul>
            <li class="option">
                <a href="/">Inicio</a>
            </li>
            <li class="option">
                    <a href="/acerca">Acerca de</a>
            </li>
            <li class="option">
                <a href="/servicios">Servicios</a>
            </li>
            <li class="option">
                <a href="/ayuda">Ayuda</a>
            </li>
        </ul>
    </nav>
    <button class="btn btn-outline-primary login">Iniciar sesión</button>
    <button class="btn btn-outline-secondary signin">Registrarse</button>
</header>