<header class="menu">
    <img class="logo" src="img/Tetlay.png">
    <h5 class="title">Servi</h5>
    <nav>
        <ul>
            <li class="option">
                <a href="/servicios">Servicios</a>
            </li>
            <li class="option">
                <a href="/acerca">Mi perfil</a>
            </li>
        </ul>
    </nav>
    <button class="btn add-button" id="addButton"><i class="far fa-plus-square fa-lg"></i></button>
    <button class="btn slide-button" id="slideButton"><i class="fas fa-bars fa-lg"></i></button>
</header>