<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso</title>
</head>
<body>

<form>
    <div class="form-group">
        <label for="">    </label>
        <input type="email" class="form-control" maxlength="" name="" id="" required>
    </div>
    <div>
        <label for="form-group">    </label>
        <input type="password" class="form-control" maxlength="" name="" id="" required>
    </div>
</form>
</body>
</html>