<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/headers %>
    <title>Iniciar sesi칩n</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
    <div class="webpage">
        <div class="login-box">
        <form method="POST" id="login" action="/login">
            <center>
                    <img class="logo" src="img/Tetlay.png" style="width:40%;height:auto;border-radius:50%;padding:5%;">
                </center>
        <div>
            <h1>Iniciar sesi칩n</h1>
        </div>
        <div><br><br></div>
                <div class="form-group">
                    <img src="icons/email.png" width= "30px" height="30px" >
                    <label for="">Correo electr칩nico: </label>
                    <input  type="email" class="form-control borde" placeholder="usuario@email.com" background="none" maxlength="" name="email" id="email" required>
                </div>
                <br>
                <div class="form-group">
                    <img src="icons/pass.png" width="30px" height="30px">
                    <label for="form-group">Contrase침a: </label>
                    <input type="password" class="form-control borde" placeholder="********" maxlength="" name="password" id="password" required>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Enviar">
            </form>
        </div>
    </div>
    <script src="js/loginHandler.js"></script>
</body>
</html>