<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/headers %>
    <title>Servi</title>
    <link rel="stylesheet" type="text/css" href="swiper/css/swiper.min.css">
    <script src="swiper/js/swiper.js"></script>
    <script src="swiper/js/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div class="webpage">
        <% include ../partials/menu %>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>                
        <!-- <% include ../partials/footer %> -->
    </div>
    <script src="js/carrusel.js"></script>
</body>
</html>