<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/headers %>
    <title>Servi</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <% include ../partials/menu %>
    servi
</body>
</html>