<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inicio</title>
    <% include ../partials/headers %>
    <link rel="stylesheet" type="text/css" href="css/services.css">
</head>
<body>
    <div class="webpage">
        <% include ../partials/menuLogger %>
        <br>
        <br><br>
        <div class="row col-md-12" style="margin:0;">
            <aside class="filter-menu col-md-3">
                <div>
                    <h4>Filtros de Busqueda</h4>
                </div>
            </aside>
            <section class="services-section col-md-9" id="services-section">
                <div class="shower-container">
                    <div class="col-md-12">
                        <form class="form-inline md-form form-sm mt-0">
                            <i class="fas fa-search" aria-hidden="true"></i>
                            <input class="form-control ml-3" type="text" placeholder="Search"
                                aria-label="Search" id="search">
                        </form>
                        <br>
                    </div>
                    <div class="services-scroller col-md-12">
                        <div class="col-md-12" id="services-container">
                            <!-- <div class="service-box row">
                                <div class="description col-sm-8">
                                    <h4>${object.title}</h4>
                                    <p>${object.description}</p>
                                </div>
                                <div class="media col-sm-4 row">
                                    <div class="col-md-12">
                                        <img class="section-icon" src="img/${object.img}">
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary">Ver</button>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="js/servicesHandler.js"></script>
</body>
</html>