<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inicio</title>
    <% include ../partials/headers %>
    <link rel="stylesheet" type="text/css" href="css/services.css">
</head>
<body>
    <div class="webpage">
        <header class="menu">
            <img class="logo" src="img/Tetlay.png">
            <h5 class="title">Servi</h5>
            <nav>
                <ul>
                    <li class="option">
                        <a href="/">Servicios</a>
                    </li>
                    <li class="option">
                        <a href="/acerca">Mi perfil</a>
                    </li>
                </ul>
            </nav>
            <button class="btn add-button" id="addButton"><i class="far fa-plus-square fa-lg"></i></button>
            <button class="btn slide-button" id="slideButton"><i class="fas fa-bars fa-lg"></i></button>
        </header>
        <br><br>
        <div class="row col-md-12">
            <aside class="filter-menu col-md-4">
                <div>
                   Hola 
                </div>
            </aside>
            <section class="services-section col-md-8" id="services-section">
                <div>
                    <div class="col-md-12">
                        <form class="form-inline md-form form-sm mt-0">
                            <i class="fas fa-search" aria-hidden="true"></i>
                            <input class="form-control ml-3" type="text" placeholder="Search"
                                aria-label="Search" id="search">
                        </form>

                        <br>
                        <div class="col-md-12" id="services-container">
                            <div class="service-box row">
                                <div class="col-sm-8">
                                    <h4>Carpinteria</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed erat in turpis sollicitudin aliquet nec ut mauris.</p>
                                </div>
                                <div class="col-sm-4">
                                    <img class="section-icon" src="img/carpinteria.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>