<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/headers %>
    <title>Perfil</title>
    <link rel="stylesheet" type="text/css" href="css/profile.css">
</head>
<body>
    <% include ../partials/menuLogger %>
    <br><br>
    <div class="col-lg-12 row">
        <div class="profile-col col-md-4">
            <center>
                <br>
                    <img class="profile-img" src="img/<%= img %>">
            </center>
        </div>
        <div class="col-md-8">
            <br>
            <h2><%= nombre %></h2>
            <br>
            <p><%= description %></p>
        </div>
    </div>
</body>
</html>