<!DOCTYPE html>
<html lang="en">
<head>
        <% include ../partials/headers %>
        <title>Perfil</title>
        <link rel="stylesheet" type="text/css" href="css/register.css">
        <title>Perfil</title>
</head>
<body>
        <% include ../partials/menuLogger %>
        <%= status %>
</body>
</html>