<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Descripción</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../views/models/public/font-family/monserrat">


    <style>
        h1 {
            font-family: 'monserrat', sans-serif;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            border-bottom: 1px solid rgba(26, 22, 78, 0.76);
        }
        
        p {
            text-align: left;
        }
        
        aside {
            text-align: right;
        }
        
        div {
            text-align: right;
        }
        
        body {
            font-family: 'Nunito', sans-serif;
            background: rgb(255, 255, 255);
            background-attachment: fixed;
            background-size: cover;
            font-size: 1.2rem;
        }
        
        #descrip {
            text-align: left;
            font-size: 1.2;
        }
        
        ul {
            list-style: none;
        }
        
        .col-3 {
            padding-top: 5%;
            /*font-size: 7rem;*/
        }
        
        li {
            padding-bottom: 0.5rem;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="col-9">

            <h1>PLOMERO.</h1>
            <p> Categoria:Oficio.</p>
            <p> Experiencia: 1 año de experiencia brindando soporte y soldando de tuberias en CFE.</p>
            <p> Rango de Costo Aproximado: 100</p>
            <p> Servicio a Domicilio: Se brinda servicio a domicilio.</p>
            <p> Telefono: 5532456985</p>
            <p> Servicio local: N/A</p>
            <h3 id=descrip> Descripcion del servicio. </h3>
            <div>
                <p>El promero es el encargado de darle mantenimiento, creación y reparacion a las tuberias que se encuentren dentro de un domicilio seapublico o privado.</p>
            </div>
            <p> Puntuacion: </p>
            <p> Trabajos realizados: 5 trabajos correctamente realizados. </p>
            <p> Comentarios: </p>


        </div>
        <div class="col-3">
            <div>
                <ul>
                    <!--acomoar en forma de lista para colocar las fotos de lado dercho-->
                    <li>
                        <img alt="logo" class="img-fluid" src="fonts/Plomero/pl.jpeg">

                    </li>
                    <li><img alt="logo" class="img-fluid" src="fonts/Plomero/pl1.jpg">

                    </li>
                    <li><img alt="logo" class="img-fluid" src="fonts/Plomero/pl2.jpg">

                    </li>
                </ul>

            </div>
        </div>
    </div>

</body>