@font-face{
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-family: "montserrat-bold";
}
@font-face{
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-family: "montserrat";
}
@font-face{
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
    font-family: "montserrat-light";
}
@font-face{
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
    font-family: "opensans-bold";
}
@font-face{
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
    font-family: "opensans";
}
@font-face{
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
    font-family: "opensans-light";
}