@import 'fonts';
@import 'menu';

.menu{
    nav{
        width:20%;
    }
}

.profile-col{
    background:#222;
    height:90vh;
}

.profile-img{
    width:220px;
    height:220px;
    border-radius:50%;
}