@import 'fonts';
@import 'menu';

.menu{
    nav{
        width:20%;
    }
}

.filter-menu{
    display:flex;
    padding:3% 0% 3% 2%;
    height:auto;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    div{
        background-color:#ddd;
        width:100%;
        min-height:85vh;
    }
}

.services-section{
    display:flex;
    padding:3% 0% 3% 0%;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    .shower-container{
        height:auto;
    }
}

#search{
    width:90%;
}

.service-box{
    width:56vw;
    height:auto;
    min-height:10vh;
    padding:2% 5%;
    margin:5% 0;
    border-radius:8px;

    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;

    .media{
        img{
            width:120px;
            height:120px;
            border-radius:50%;
        }
    }
}

.services-scroller{
    height:80vh;
    overflow:scroll;
}
